<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cadastro de usuários - Node.Js</title>

   <style>
      input {
         margin-bottom: 15px;
      }

      table {
         border: 1px solid black;
         column-gap: 20px;
         border-collapse: collapse;
         width: 100%;
      }

      thead {
         background-color: rgb(39, 39, 39);
         color: white;
         width: 100%;
         font-size: 20px;
      }

      td {
         padding: 3px 8px 3px 8px;
      }

      tr {
         text-align: center;
      }
      
      tr:nth-child(even) {
         background-color: rgb(139, 139, 139);
         color: white;
      }
   </style>
</head>
<body>
   {{{body}}}
</body>
</html>