<form action="/add" method="post">
   <h2>Cadastre-se agora</h2>

   <label for="name">Nome de usuário: </label>
   <input type="text" name="name" id="name"><br>

   <label for="email">E-mail: </label>
   <input type="email" name="email" id="email"><br>

   <button type="submit">Cadastra-se</button>
</form>